@media only screen and (max-width: 1428px) {
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding: 20px; */
    }
    #main-container{
        width: 1100px;
        display: flex;
        /* justify-content: center;
        align-items: center; */
        /* margin-right: 100px; */
        flex-direction: column;
        margin: 20px;
    }
  }
  




@media only screen and (max-width: 1120px) {
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding: 20px; */
    }
    #main-container{
        width: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-right: 100px; */
        flex-direction: column;
        margin: 20px;
    }
    #component-1{
        grid-area: c1;
        display: flex;
        flex-direction: column;
        width: 340px;
    }
    #component-2{
        grid-area: c2;
        width: 450px;
    }
    #component-3{
        grid-area: c3;
        width: 450px;
    }
    #grid-container{
        display: grid;
        grid-template-areas: 
        'c1 c2 c2 c2 c2 c2'
        'c1 c3 c3 c3 c3 c3';
        gap: 4px;
      /* padding: 10px; */
    }
    #grid-container > div {
        border: 2px solid #cacaca;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
        /* padding: 20px 0; */
      }
    
    .profile-pic{
        height: 150px;
        width: 150px;
        border-radius: 150px;
    }
    .profile-pic > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height: 150px;
        border-radius: 150px;
    }
    .name{
        padding-top:20px ;
        font-size: 20px;
    }
    #contact-info{
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin: 20px;
        padding-bottom: 30px;
        display: none;
    }
    #contact-info > div >img{
        height: 20px;
       padding-right: 20px;
        width: auto;
    }
    #contact-info > div{
        margin: 4px;
        font-size: 15px;
    }
    .sub-1-component-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #5b8f8f;
        padding: 20px;
        color: white;
    }
    .head {
        display: flex;
        flex-direction: row;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .head >  img{
        height: 20px;
        width: auto;
        margin-right:20px ;
        margin-top: 8px;
    }
    .sub-1-component-3{
        margin-left: 30px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 20px;
    
    }
    .skills{
        font-size: 18px;
        margin-bottom: 20px;
        
    
    }
    .language{
        font-size: 18px;
        margin-bottom: 20px;
    
    }
    .language > p img{
        height: 10px;
        width: auto;
        margin-right: 15px;
    }
    .skills > p img{
        height: 10px;
        width: auto;
        margin-right: 15px;
    }
    .heading{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 20px;
    }
    .heading img{
        height: 35px;
        padding-right: 30px;
    }
    .material{
        font-size: 15px;
        margin-left: 60px;
        margin-top: 30px;
    }
    .profile-info{
        margin-left: 25px;
        margin-right: 15px;
    }
    .profile-info div {
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .profile-info div img{
        height: 20px;
       padding-right: 20px;
        width: auto;
        margin-bottom: 5px;
        filter: invert();
    }
    .profile-info p{
        font-size: 15px;
    }
    #Btn{
        background-color: #5b8f8f;
        border: none;
        width: 150px;
        border-radius: 10px;
        padding: 8px;
        font-size: 20px;
        color: white;
    }
    .createResumeBtn button{
        background-color: #5b8f8f;
        border: none;
        width: 250px;
        border-radius: 10px;
        padding: 8px;
        font-size: 20px;
        color: white;
        margin: 30px 5px;
    }
    .createResumeBtn{
        display: flex ;
        flex-direction: row;
    }
    #form-container{
        border: 2px solid gray;
        border-radius: 20px;
        padding: 30px;
        margin: 20px;
        display: none;
    
    }
    #form-container h1{
        text-align: center;
    }
    #form-container form{
        margin: 0px 20px;
    }
    .hidden{
        display: none;
    }
    #downloadbtn{
        display: none;
    }
  }




@media only screen and (max-width: 800px) {
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding: 20px; */
    }
    #main-container{
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-right: 100px; */
        flex-direction: column;
        margin: 20px;
        
    }
    #component-1{
        grid-area: c1;
        display: flex;
        flex-direction: column;
        width: 400px;
    }
    #component-2{
        grid-area: c2;
        width: 400px;
    }
    #component-3{
        grid-area: c3;
        width:400px;
    }
    #grid-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* grid-template-areas: 
        'c1 c2 c2 c2 c2 c2'
        'c1 c3 c3 c3 c3 c3'; */
        gap: 4px;
      /* padding: 10px; */
    }
    #grid-container > div {
        border: 2px solid #cacaca;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
        /* padding: 20px 0; */
      }
    
    .profile-pic{
        height: 150px;
        width: 150px;
        border-radius: 150px;
    }
    .profile-pic > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height: 150px;
        border-radius: 150px;
    }
    .name{
        padding-top:20px ;
        font-size: 20px;
    }
    #contact-info{
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin: 20px;
        padding-bottom: 30px;
    }
    #contact-info > div >img{
        height: 20px;
       padding-right: 20px;
        width: auto;
    }
    #contact-info > div{
        margin: 4px;
        font-size: 15px;
    }
    .sub-1-component-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #5b8f8f;
        padding: 20px;
        color: white;
    }
    .head {
        display: flex;
        flex-direction: row;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .head >  img{
        height: 20px;
        width: auto;
        margin-right:20px ;
        margin-top: 8px;
    }
    .sub-1-component-3{
        margin-left: 30px;
        margin-right: 10px;
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 20px;
    
    }
    .skills{
        font-size: 18px;
        margin-bottom: 20px;
        
    
    }
    .language{
        font-size: 18px;
        margin-bottom: 20px;
    
    }
    .language > p img{
        height: 10px;
        width: auto;
        margin-right: 15px;
    }
    .skills > p img{
        height: 10px;
        width: auto;
        margin-right: 15px;
    }
    .heading{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 20px;
    }
    .heading img{
        height: 35px;
        padding-right: 30px;
    }
    .material{
        font-size: 15px;
        margin-left: 60px;
        margin-top: 30px;
    }
    .profile-info{
        margin-left: 25px;
        margin-right: 15px;
    }
    .profile-info div {
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .profile-info div img{
        height: 20px;
       padding-right: 20px;
        width: auto;
        margin-bottom: 5px;
        filter: invert();
    }
    .profile-info p{
        font-size: 20px;
    }
    #Btn{
        background-color: #5b8f8f;
        border: none;
        width: 150px;
        border-radius: 10px;
        padding: 8px;
        font-size: 20px;
        color: white;
    }
    .createResumeBtn button{
        background-color: #5b8f8f;
        border: none;
        width: 250px;
        border-radius: 10px;
        padding: 8px;
        font-size: 20px;
        color: white;
        margin: 30px 5px;
    }
    .createResumeBtn{
        display: flex ;
        flex-direction: row;
    }
    #form-container{
        border: 2px solid gray;
        border-radius: 20px;
        padding: 30px;
        margin: 20px;
        display: none;
    
    }
    #form-container h1{
        text-align: center;
    }
    #form-container form{
        margin: 0px 20px;
    }
    .hidden{
        display: none;
    }
    #downloadbtn{
        display: none;
    }
  }
